.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}


  /* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

.header img{
    height: 50px; width: 30%;
}
