.dataTables_length label, .dataTables_filter label, .dataTables_filter input, .dataTables_info, .dataTables_paginate, .card-header button{
    font-size: .7rem;
}
form input.form-control, form select, form label, form textarea{
    font-size: .8rem;
}
.form-control{
    border-radius: 0% !important;
}
button.no-attr{
    outline: none;
    background: none;
    border: none;
}
.content-main{
    position: relative;
    padding: 20px;
}
.horizontal-menu{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #fff;
}
.sub-menu .btn-link{
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    font-size: .8rem;
}

.sub-menu{
    padding: 10px 0px;
}
.sub-menu .btn-link.active{
    color: rgba(56, 116, 255, 1) !important;
    border-bottom: 2px solid rgba(56, 116, 255, 1) ;
}
.sub-menu .btn-link:hover{
    background-color: #dee1ea;
}

.select2-selection__rendered{
    font-size: .7rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    font-size: .7rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    font-size: .7rem;
}

.card .item, .card span{
    font-size: .7rem;
}
